* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Rubik', sans-serif;
}

body { 
  background-color: #020e18;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  
}

a {
  color: #7c9ab7;
  font-weight: bold;
  text-decoration: none;
}

p {
  margin: 10px 0;
}

form {
  display: flex;
  flex-direction: column;
  width: 400px;
}

input {
  margin: 10px 0;
  padding: 10px;
  border-radius: 10px;
  background-color: #01080d;
  border: 2px solid #0e2b42;
  color: #9a9292;
}

input:hover {
  background-color: #164164;
}

input:focus{
  background-color: #164164;
  
}

button {
  padding: 10px;
  cursor: pointer;
  border-radius: 10px;
  background-color: #01080d;
  border: 2px solid #0e2b42;
  color: #9a9292;
}

button:hover {
  border: 2px solid #164164;
  color: #ffff;
  background-color: #092f4a;
}

.form{
  display: block;
  margin-left: auto;
  margin-right: auto ;
  background-color: #01080d;
  padding: 30px;
  border-radius: 25px;
  border: 2px solid #0e2b42;
  margin-bottom: 10px;
}

label{
  color: #c1b9b9;
}



